@model NTEDoc.DataRepository.Document


<div class="custom-modal" id="readCommentModal">
    <div class="custom-modal-content">
        <div class="modal-close">&times;</div>

        <div class="modal-title">Komentar</div>

        <p class="comment-content">
            @Model.Comment
        </p>
    </div>
</div>