

@model NTEDoc.DataRepository.Document


<div class="custom-modal" id="return-to-recorder-modal">
    <div class="custom-modal-content">
        <div class="modal-close">&times;</div>

        <div class="modal-title">Unesite komentar</div>

        <form enctype="multipart/form-data" method="post" asp-action="ChangeStatusReturnedToRecorder">
            <input type="hidden" asp-for="Id" />
            <textarea class="form-control" rows="3" name="comment"></textarea>

            <input type="submit" value="Vrati evidentičaru" class="bttn bttn-regular bttn-regular-danger">
        </form>
    </div>
</div>