<div class="custom-modal" id="view-file-modal">
    <div class="custom-modal-content">
        <div class="modal-close">&times;</div>

        <iframe id="fileModalFrame" src=""></iframe>
    </div>
</div>