/* INDEX */
/* Table actions styles */

.table-actions-row {
    display: flex;
    align-items: center;
}

.toggle-all-documents {
    display: flex;
    align-items: center;
    margin-left: 30px;
    user-select: none;
}

.toggle-all-documents label {
    cursor: pointer;
    margin-bottom: 0;
}

.toggle-all-documents .styled-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 3px;
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,.2);
    outline: none;
    margin-left: 5px;
    display: block;
}

.toggle-all-documents input[type=checkbox] {
    display: none;
}

.toggle-all-documents input[type=checkbox]:checked + .styled-checkbox {
    background-color: #555;
}

/* Table styles */
.document-table-row.hidden {
    display: none;
}

.document-table-row.has-comment {
    background-color: lightgoldenrodyellow !important;
}

.export-buttons {
    position: absolute;
    right: 2.1em;
    top: 2.6em;
    /*    display: flex;
    align-items: center;*/
}
/*
.export-buttons #previouslyPrinted + .fake-input {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    border: 2px solid #555;
    border-radius: 3px;
}

.export-buttons #previouslyPrinted {
    display: none;
}

.export-buttons .previous-checkbox-group {
    display: flex;
}

.export-buttons #previouslyPrinted + .fake-input i.fa-check {
    display: none;
}

.export-buttons #previouslyPrinted:checked + .fake-input {
background: #555;
}

.export-buttons #previouslyPrinted:checked + .fake-input i.fa-check {
    display: inline;
    color: #fff;
}*/

.export-buttons span {
    font-weight: bold;
    font-size: 1em;
    color: var(--main-dark);
    margin-right: .3em;
}

.export-buttons button {
    width: 35px;
    height: 35px;
    font-size: 1.2em;
    border: none;
    outline: none;

    border-radius: 5px;
    background-color: var(--main-medium);
    color: #fff;
}

.export-buttons button:hover {
    background-color: var(--main-medium);
}

.export-buttons button#export-excel:hover {
    color: #00dd25;
}

.export-buttons button#export-pdf:hover {
    color: #cf0000;
}

/* Export styling */

#export-modal .custom-modal-content {
    text-align: center;
}

.columns-export-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    border-radius: 10px; 
    padding: 2em 0;

    margin: 2em 0;
}

.column-wrapper {
    text-align: center;
    padding: 0 1.5em;
}

.checkbox-wrapper > input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper > input[type="checkbox"]:checked + label {
    background-color: #28a745;
    border: 2px solid #117028;
}

.checkbox-wrapper > label {
    width: 2em;
    height: 2em;

    border-radius: 5px;
    cursor: pointer;

    background-color: #a72828;
    border: 2px solid #701111;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.column-name {
    padding: 0;
    margin: 0;
}

.checkbox-wrapper > input[type="checkbox"] + label .fa-check,
.checkbox-wrapper > input[type="checkbox"] + label .fa-times {
    color: white;
}

.checkbox-wrapper > input[type="checkbox"] + label .fa-check {
    display: none;
}

.checkbox-wrapper > input[type="checkbox"]:checked + label .fa-times {
    display: none;
}
.checkbox-wrapper > input[type="checkbox"]:checked + label .fa-check {
    display: inline;
}



/* Applied filters */

.applied-filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    padding: 1.5em 0;
    margin: 0 -1em;
}

.applied-filters .applied-filter {
    border: 1px solid var(--main-dark);
    border-radius: 100px;

    position: relative;

    padding: .5em 1em;
    padding-right: 2.5em;

    margin: .5em .8em;
}

.applied-filter .applied-title-for {
    text-transform: capitalize;
    font-weight: bold;
}

.applied-filters .cancel-filter {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
    color: var(--main-red);
}

#advanced-filters-open {
    margin: 1em 0 !important;
}


p.selected-option {
    margin: 0;
    color: var(--main-very-dark);
}


/* Advanced filters */

#advanced-filters {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--main-medium);
    
    height: 100vh;
    
    transition: all .2s ease-in;

    opacity: 0;
    transform: translateX(-100%);

    width: 280px;
}

#advanced-filters.active {
    display: block;

    transform: translateX(0);
    opacity: 1;
}

#advanced-filters .filters-header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1em;
    position: relative;
    color: var(--main-light);
    background-color: var(--main-very-dark);
}

#advanced-filters .filters-title {
    text-align: left;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

#advanced-filters label {
    margin-bottom: 0.2em;
}

#advanced-filters .select-replacement {
    padding: 0 2.3em;

    color: var(--main-very-dark);
    border: 2px solid var(--main-dark);
    border-radius: 0;

    background-color: var(--main-light);
}

#advanced-filters .options {
    max-height: 250px;
    overflow: auto;
    justify-content: flex-start;
    background-color: var(--main-light);
    color: var(--main-very-dark);
    border-radius: 0;
}

#advanced-filters .select-replacement > i {
    position: absolute;
    right: 14px;
    font-size: 1.3em;
    bottom: 9px;
}

#advanced-filters .option-replacement {
    padding: 0.5em 1em;
}

#advanced-filters .checkbox-title {
    color: var(--main-very-dark)
}

#advanced-filters .modal-content-wrapper {
    display: block;
    padding: 1em 0;
    height: calc(100vh - 140px);
    overflow: auto;
}

#advanced-filters .modal-content-wrapper .modal-content-group {
    flex-direction: column;
    display: flex;
}

#advanced-filters .advanced-filter-group,
#advanced-filters .similar-filters {
    margin: 0.5em 1em;
}

#advanced-filters input {
    border: none;
    outline: none;
    background-color: var(--main-light);
    padding: .3em 0.5em;
}

#advanced-filters .bottom-actions {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    background-color: var(--main-very-dark);
}

#hide-advanced-filters {
    width: 60px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    background-color: transparent;

    color: var(--main-light);
    position: absolute;
    top: 0;
    right: 0;

    transition: all .1s linear;
}

#hide-advanced-filters:hover {
    background-color: rgba(255,255,255,0.1);
}

#create-document-modal .edit-fields {
    display: flex;
}

#create-document-modal {
    align-items: flex-start;
}

#create-document-modal .custom-modal-content {
    margin: 2em 0;
}

.edit-fields > div {
    margin: 0 10px;
}

.create-form input,
.create-form select,
.create-form .select2 {
    width: 300px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* DETAILS */

/* Actions */
.details-global-actions {
    display: flex;
    align-items: center;
    margin: 15px 0 20px;
}

.sector-actions {
    display: inline-flex;
    align-items: center;
}

.sector-actions label {
    margin: 0;
}

.sector-actions a.btn {
    margin: 0 10px;

}

.actions-title {
    margin-bottom: 0;
    margin-right: 10px;
}



/* Datatables settings */

#example_length,
#example_filter {
    display: none;
}

table#example {
    margin-top: 1.12rem !important;
}

.dt-buttons {
/*    display: flex;*/
    display: none;
    justify-content: flex-end;
}

.dt-buttons button {
}

.dt-buttons button.buttons-excel {
    color: green;
    border: 1px solid green;
    margin-right: 10px;
}

.dt-buttons button.buttons-excel:hover {
    background-color: green;
    color: white;
}







